/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
tab{
	-fx-background-color: linear-gradient(to top right,#2C71E1,  #458DEC);
}

.split-menu-button .arrow-button {
    -fx-background-color: transparent ;
}
.split-menu-button .arrow {
    -fx-background-color: white;
}

#dtNgay {
 	-fx-background-color: linear-gradient(to right, #f857a6 0%, #ff5858  51%);
 	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
 	-fx-background-radius: 15px;
}

#dtThang{
    -fx-background-color: linear-gradient(to right, #ffb347 0%, #ffcc33  51%);        
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
 	-fx-background-radius: 15px;
}

#tongThuoc{
    -fx-background-color: linear-gradient(to right, #4776E6 0%, #8E54E9  51%);      
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
 	-fx-background-radius: 15px;

}
.table-view .column-header{
    -fx-background-color: #517fa4;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#hbTrangChu:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu1:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu12:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu13:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu14:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu15:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu16:hover{
	-fx-background-color:#4b7699;
}
#hbTrangChu17:hover{
	-fx-background-color:#4b7699;
}
#thuocHetHan{
    -fx-background-color: linear-gradient(to right, #606c88 0%, #3f4c6b  51%);       
 	-fx-background-radius: 15px;
}
#sidebar{
	-fx-background-color:#517fa4;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#navi{
	-fx-background-color:#517fa4;
}
.menu-button .arrow{
	-fx-background-color:#FFFFFF;
}
#taiKhoan .arrow{
	-fx-background-color:transparent;
}

         